<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <h1 id="title">Clash Royale Tracker</h1>
</head>
<body>
    <h2>Enter Your Clash Royale Player Tag:</h2>
    <form method="POST">
        <input type="text" name="player_tag" placeholder="Player Tag">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
